@charset "utf-8";
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

a {
  color: #1e1e1e;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0
}

li {
  list-style: none outside
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0
}

q:after, q:before {
  content: ''
}

img {
  border: none;
  vertical-align: bottom
}

em {
  font-style: normal;
  font-size: 1.2em
}

button, fieldset, form, input, label, legend, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  position: relative
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

* html .clearfix, :first-child+html .clearfix {
  zoom: 1
}

html {
  font-size: 62.5%;
  color: #333
}

body {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #333;
  line-height: 1;
  background: #f1f1f1
}

#container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  background: #f1f1f1
}

.mt5 {
  margin-top: 5px
}

.mt10 {
  margin-top: 10px
}

.mt15 {
  margin-top: 15px
}

.mt20 {
  margin-top: 20px
}

.mt25 {
  margin-top: 25px
}

.mt30 {
  margin-top: 30px
}

.mt35 {
  margin-top: 35px
}

.mt40 {
  margin-top: 40px
}

.mt45 {
  margin-top: 45px
}

.mt50 {
  margin-top: 50px
}

.mb5 {
  margin-bottom: 5px
}

.mb10 {
  margin-bottom: 10px
}

.mb15 {
  margin-bottom: 15px
}

.mb20 {
  margin-bottom: 20px
}

.mb25 {
  margin-bottom: 25px
}

.mb30 {
  margin-bottom: 30px
}

.mb35 {
  margin-bottom: 35px
}

.mb40 {
  margin-bottom: 40px
}

.mb45 {
  margin-bottom: 45px
}

.mb50 {
  margin-bottom: 50px
}

.mb60 {
  margin-bottom: 60px
}

.mb70 {
  margin-bottom: 70px
}

.mb80 {
  margin-bottom: 80px
}

.fc-red {
  color: red
}

.fs10 {
  font-size: 10px;
  font-size: 1rem
}

.fs12 {
  font-size: 12px;
  font-size: 1.2rem
}

.fs14 {
  font-size: 14px;
  font-size: 1.4rem
}

.fs16 {
  font-size: 16px;
  font-size: 1.6rem
}

.fs18 {
  font-size: 18px;
  font-size: 1.8rem
}

.fs20 {
  font-size: 20px;
  font-size: 2rem
}

.fwb {
  font-weight: 700
}

.fwn {
  font-weight: 400
}

.lh1 {
  line-height: 1
}

.lh12 {
  line-height: 1.2
}

.lh13 {
  line-height: 1.3
}

.lh14 {
  line-height: 1.4
}

.lh15 {
  line-height: 1.5
}

.lh18 {
  line-height: 1.8
}

.lh20 {
  line-height: 2
}

.tal {
  text-align: left
}

.tac {
  text-align: center
}

.tar {
  text-align: right
}

.curve {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.curve_top {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0
}

.curve_bottom {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px
}

.curve_right {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0
}

#header_area {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 0 0 24px
}

#global_menu h1 {
  float: right
}

#global_menu a {
  color: #666
}

#global_menu ul {
  float: right;
  margin: 20px 0 0
}

#global_menu li {
  margin: 0;
  padding: 0 10px;
  float: left;
  visibility: hidden
}

#global_menu li.disp_on {
  visibility: visible
}

#global_menu li a {
  background: url(../images/common/header/icon_header_menu.gif) no-repeat scroll left .3em;
  padding: 0 0 0 10px
}

#header h2, #header li {
  float: left;
  border-right: 1px solid #d0ccca
}

#global_menu li.login_user_text a {
  background: url(../images/common/header/icon_home.gif) no-repeat scroll left .2em;
  padding: 3px 0 3px 20px;
  color: red;
  font-weight: 700;
  font-size: 1.2em
}

#global_menu li.login_user_out a {
  background: url(../images/common/header/icon_header_menu.gif) no-repeat scroll left center;
  padding: 3px 0 3px 10px;
  font-weight: 700;
  font-size: 1.2em
}

#global_menu li.login_user_out {
  border-left: 1px dotted #999
}

#headerWrap {
  position: relative;
  background: #fff;
  width: 960px;
  height: 120px;
  margin: 0 auto;
  font-size: 11px;
  font-size: 1.1rem
}

#subNav {
  position: absolute;
  right: 0;
  top: 0
}

#subNav #tfalLogo {
  float: right
}

#subNav a {
  color: #666
}

#subNav ul {
  float: right;
  margin: 20px 0 0
}

#subNav li {
  margin: 0;
  padding: 0 10px;
  float: left;
  visibility: hidden
}

#subNav li.disp_on {
  visibility: visible
}

#subNav li a {
  background: url(../images/common/header/icon_header_menu.gif) no-repeat scroll left .3em;
  padding: 0 0 0 10px
}

#subNav li.login_user_text a {
  background: url(../images/common/header/icon_home.gif) no-repeat scroll left .2em;
  padding: 3px 0 3px 20px;
  color: red;
  font-weight: 700;
  font-size: 12px;
  font-size: 1.2rem
}

#subNav li.login_user_out a {
  background: url(../images/common/header/icon_header_menu.gif) no-repeat scroll left center;
  padding: 3px 0 3px 10px;
  font-weight: 700;
  font-size: 12px;
  font-size: 1.2rem
}

#subNav li.login_user_out {
  border-left: 1px dotted #999
}

#globalNav {
  position: absolute;
  left: 0;
  top: 65px;
  width: 960px
}

#globalNav h1, #globalNav li {
  float: left;
  border-right: 1px solid #d0ccca
}

#main {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5em;
  margin: 0 0 20px
}

#inner {
  float: left;
  width: 715px
}

#leading_header {
  width: 960px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
  overflow: hidden;
}

#footer {
  background: #dddedf;
  margin: 0 auto -20px auto;
  color: #666;
  padding: 15px 0;
  width: 960px
}

#footer a {
  color: #666
}

#footer #social-nav {
  float: left;
  padding: 0 0 0 1em
}

#footer #social-nav li {
  float: left;
  margin: 0 15px 0 0
}

#social-nav li a {
  display: block;
  overflow: hidden;
  background: url(../images/common/sprite.png) 0 0 no-repeat;
  text-indent: 100%;
  white-space: nowrap
}

#social-nav li#tosmartphone a {
  width: 79px;
  height: 25px;
  background-position: 0 0
}

#social-nav li#toyoutube a {
  width: 25px;
  height: 25px;
  background-position: 0 -25px
}

#social-nav li#tofacebook a {
  width: 25px;
  height: 25px;
  background-position: 0 -50px
}

#footer #foot-nav {
  float: right;
  font-size: 11px;
  padding: 8px 1em 0
}

#footer #foot-nav li {
  border-right: 1px solid #969696;
  padding: 0 1em;
  float: left
}

#footer #foot-nav li.last {
  border: none
}

.detail_link {
  text-align: right
}

.detail_link_set .detail_link {
  text-align: left;
  float: left
}

.detail_link a {
  background: url(../images/common/icon_link.gif) no-repeat scroll left .3em;
  padding-left: 12px
}

.m-middle {
  margin: 0 0 1em;
  padding: .3em 0 .2em .5em;
  border-left: 5px solid #CCC;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700
}

.to_top {
  text-align: right;
  width: 960px;
  margin: 20px auto;
  font-size: 12px;
  font-size: 1.2rem
}

.to_top a {
  background: url(../images/common/icon_to_top.gif) no-repeat scroll left .3em;
  padding-left: 14px
}

p.img {
  text-align: center
}

#top_side {
  float: right;
  width: 260px;
  padding: 10px 20px;
  background: #fff
}

#top_side .library {
  width: 238px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  font-size: 12px
}

#top_side .library h3 {
  margin: 0 0 10px
}

#top_side .library dt {
  float: left;
  width: 127px
}

#top_side .library dd {
  float: right;
  width: 104px
}

#top_side li, #top_side ul {
  margin: 10px 0 0
}

#side {
  float: right;
  width: 230px
}

#side .side_area {
  width: 200px;
  margin: 0 0 20px;
  padding: 15px;
  background: #fff
}

#side .side_area h3 {
  margin: 0 0 20px;
  padding: .3em 0 .2em .5em;
  border-left: 5px solid #ccc;
  font-weight: 700;
  font-size: 133%
}

#side .lineup dl, #side .side_area li {
  margin: 10px 0 0
}

#side .lineup dt {
  margin: 5px 0
}

#side .library h3 {
  margin: 0 0 10px
}

#side .customer ul {
  margin: 10px 0 0;
  border-top: 1px dotted #c6c9c9
}

#side .customer li, #side .lineup dd {
  margin: 0 0 0 5px;
  padding: 5px 0;
  border-bottom: 1px dotted #c6c9c9
}

#side .customer li a, #side .lineup dd a {
  padding-left: 12px;
  background: url(../images/common/side/icon_side_menu.gif) no-repeat scroll left .3em
}

#side .recipe_search .search_area {
  margin: 10px 0;
  padding: 10px 6px;
  background: #dddedf
}

#side .recipe_search .search_area input {
  vertical-align: bottom
}

#side .recipe_search .search_area .input_text {
  width: 130px;
  height: 28px;
  border: 1px solid #999;
  font-size: 1.2em
}

#side .recipe_search .search_area p {
  margin: 10px 0 0
}

#side .recipe_search .search_area li {
  float: left;
  border-right: 1px solid #666
}

#side .recipe_search .search_area li a {
  padding: 0 5px;
  color: red
}

#side .recipe_search .search_item {
  margin: 0 0 10px;
  padding: 10px 0 5px;
  border: 1px solid #dddedf;
  font-size: 12px
}

#side .recipe_search .search_item p {
  margin: 0 0 10px 4px
}

#side .recipe_search .search_item li {
  float: left;
  margin: 0 2px;
  font-size: 10px
}

#side .recipe_search .search_item li a {
  display: block;
  padding: 5px 10px;
  background: #f1f1f1 url(../images/recipe/arrow.gif) 3px .9em no-repeat
}

#side .recipe_new dl {
  margin: 10px 0 0
}

#side .recipe_new dt {
  overflow: hidden;
  width: 120px;
  height: 60px;
  text-align: center
}

#side .recipe_new dd {
  min-height: 60px;
  margin: -60px 0 1em 0;
  padding: 0 0 10px 125px;
  border-bottom: 1px solid #c9c9c9
}

#side .mobile dl {
  margin: 10px 0 0
}

#side .mobile dt {
  width: 55px
}

#side .mobile dd {
  margin: -54px 0 0 0;
  padding: 0 0 10px 65px
}

#side .banner li {
  margin: 10px 0
}

#side .recipe_pickup p.img {
  overflow: hidden;
  width: 196px;
  height: 120px;
  margin: 10px 0 5px;
  text-align: center
}

#side .recipe_pickup ul {
  margin: 5px 0 0;
  border-top: 1px dotted #dddedf
}

#side .recipe_pickup li {
  margin: 5px 0
}


/*-----------------------------
パンくずCSS
-----------------------------*/

#bread_crumb {
  padding: 1em 0;
  color: #333;
  width: 960px;
  margin: 5px auto;
  font-size: 12px;
  font-size: 1.2rem
}

#bread_crumb li {
  float: left;
  padding: 0 10px 0 0
}

#bread_crumb li.first {
  background: 0 0
}

#bread_crumb a {
  color: #333;
  padding: 0;
  margin: 0
}

@media (max-width: 767px) {
  #bread_crumb {
    display: none;
  }
}


/*-----------------------------
フッターバナーリンクCSS
-----------------------------*/

.ftProTop {
  background: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  width: 930px;
  margin: 30px auto 0px auto;
}

.ftProTop ul li {
  background: url(/images/products/footer/bg_list.png) 0px center no-repeat;
  padding: 0 30px 0 10px;
  display: inline;
  margin-left: 30px;
}

.brGray {
  border-right: 1px solid #929292;
}

.ftProList {
  background: #dadada;
  font-size: 12px;
  padding: 15px 25px;
  width: 910px;
  margin: 0 auto;
}

.ftProList ul.cslink {
  width: 300px;
  float: left;
}

.ftProList ul.cslink li {
  background: url(/images/products/footer/bg_list.png) 0px center no-repeat;
  padding: 0 20px 0 10px;
  display: block;
  width: 120px;
  float: left;
  margin-bottom: 8px;
}

.ftProList ul.csBnr {
  float: right;
}

.ftProList ul.csBnr li {
  display: inline;
}

#ftCW-bnr {
  background: url(/images/products/footer/bg_ftBnr.png) 0px center no-repeat;
  padding: 10px 0px 0 0px;
  margin: 10px auto;
  width: 960px;
  height: 100px
}

#ftCW-bnr ul {
  text-align: center;
}

#ftCW-bnr ul li {
  display: inline;
  padding-right: 5px;
}

#ftCE-bnr {
  background: url(/images/products/footer/bg_ftBnr.png) 0px center no-repeat;
  padding: 10px 0px 0 0px;
  margin: 10px auto;
  width: 960px;
  height: 100px
}

#ftCE-bnr ul {
  text-align: center;
}

#ftCE-bnr ul li {
  display: inline;
  padding-right: 5px;
}

#ftCA-bnr {
  background: url(/images/products/footer/bg_ftBnr.png) 0px center no-repeat;
  padding: 10px 0px 0 0px;
  margin: 10px auto;
  width: 960px;
  height: 100px
}

#ftCA-bnr ul {
  text-align: center;
}

#ftCA-bnr ul li {
  display: inline;
  padding-right: 5px;
}


/**/

.W_100 {
  width: 100%;
  height: auto;
}

.maxW_100 {
  max-width: 100%;
  height: auto;
}

.reset-mw {
  min-width: initial !important;
  max-width: initial !important;
}

.reset-mh {
  min-height: initial !important;
  max-height: initial !important;
}

#social-nav li#tosmartInsta a {
  width: 77px;
  height: 25px;
  background-position: 0 0px
}

.mr15 {
  margin-right: 15px;
}
