    /***
* This is where the GSS Developer Apply and Edit the Code
* Always make a comment to specific the css styles
***/
    /* Oswald Font from Google Fonts */

    @import url('https://fonts.googleapis.com/css?family=Oswald:300');
    /**************
  * General Setting
  ***************/

    body {
      font-family: 'Oswald', sans-serif;
    }

    #wrapper {
      position: relative;
      z-index: 1;
      overflow: hidden;
      /*width: 100%;*/
      min-width: 960px;
    }

    #container {
      position: static;
      height: 5340px;
      background: transparent;
    }
    /**************
  * PC Section 1
  ***************/

    #pc {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -10;
    }

    #pc .section1, #pc .section2 {
      width: 100%;
      position: relative;
    }

    #pc .section1 {
      height: 650px;
      background: url('../img/section1-bg.jpg')center bottom no-repeat;
    }

    #pc .section1 .s1-content {
      height: 530px;
      background: url('../img/section1-bg2.jpg')center top no-repeat;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }
    /* 960px Grid */

    #pc .section1 .s1-content .s1-container, #pc .section2 .s2-container, #pc .section3 .s3-container {
      width: 960px;
      margin: 0 auto;
      position: relative;
    }

    #pc .section1 .s1-content .s1-container .s1-message-bg {
      height: 237px;
      width: 520px;
      background: #fff;
      background-color: rgb(255, 255, 255);
      opacity: 0.60;
      filter: alpha(opacity=60);
      margin-top: 132px;
    }

    #pc .section1 .s1-content .s1-container img.bubble-message, #pc .section1 .s1-content .s1-container img.s1-message-icon, #pc .section1 .s1-content .s1-container p.main-message, #pc .section1 .s1-content .s1-container p.brand-name, #pc .section1 .s1-content .s1-container img.s1-rice-cooker, #pc .section1 .s1-content .s1-container p.main-message2 {
      position: absolute;
    }

    #pc .section1 .s1-content .s1-container img.bubble-message {
      top: -65px;
      left: 365px;
    }

    #pc .section1 .s1-content .s1-container img.s1-message-icon {
      top: 28px;
      left: 20px;
    }

    #pc .section1 .s1-content .s1-container p.main-message {
      top: 40px;
      left: 212px;
    }

    #pc .section1 .s1-content .s1-container p.brand-name {
      top: 155px;
      left: 212px;
    }

    #pc .section1 .s1-content .s1-container img.s1-rice-cooker {
      right: -36px;
      top: 144px;
      z-index: 1;
    }

    #pc .section1 .s1-content .s1-container p.main-message2 {
      left: -8px;
      top: 310px;
    }
    /**************
  * PC Section 2
  ***************/

    #pc .section2-bg-top {
      height: 200px;
      position: absolute;
      top: 605px;
      left: 0;
      right: 0;
      overflow: hidden;
      /* CSS Transform */
      -moz-transform: skewX(0deg) skewY(-4deg);
      -webkit-transform: skewX(0deg) skewY(-4deg);
      -o-transform: skewX(0deg) skewY(-4deg);
      -ms-transform: skewX(0deg) skewY(-4deg);
      transform: skewX(0deg) skewY(-4deg);
    }

    #pc .section2-bg-top .section2-bg {
      background: url('../img/section2-bg.jpg') center top no-repeat;
      height: 500px;
      position: absolute;
      top: -22px;
      left: 0;
      right: 0;
      /* CSS Transform */
      -moz-transform: skewX(0deg) skewY(4deg);
      -webkit-transform: skewX(0deg) skewY(4deg);
      -o-transform: skewX(0deg) skewY(4deg);
      -ms-transform: skewX(0deg) skewY(4deg);
      transform: skewX(0deg) skewY(4deg);
    }

    #pc .section2 {
      background: url('../img/section2-bg.jpg') center bottom no-repeat;
      height: 1403px;
    }
    /* Section 2 - Content Top */

    #pc .section2 .s2-container .section2-content-top {
      width: 437px;
      margin: 32px auto 0;
      text-align: center;
      color: #fff;
    }

    #pc .section2 .s2-container .section2-content-top p.so-text {
      margin: 0 0 -22px 15px;
    }

    #pc .section2 .s2-container .section2-content-top h2 {
      font-size: 80px;
      padding-bottom: 30px;
    }

    #pc .section2 .s2-container .section2-content-top p.s2-ctop-text {
      padding-bottom: 32px;
    }
    /* Section 2 - Content Left */

    #pc .section2 .s2-container .section2-content-left {
      position: absolute;
      top: 10px;
      left: 0;
      width: 262px;
      height: 926px;
      /* Erase this code 'height: 926px' if ever you already finish it all */
    }

    #pc .section2 .s2-container .section2-content-left img.plate-left {
      position: absolute;
      top: 65px;
      right: 5px;
    }

    #pc .section2 .s2-container .section2-content-left img.left-icon {
      position: absolute;
      top: 380px;
      right: -20px;
    }
    /* Section 2 - Content Left Text */

    #pc .section2 .s2-container .section2-content-left div.s2-cleft-text {
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    #pc .section2 .s2-container .section2-content-left .s2-cleft-text p.s2-ltext {
      margin-bottom: 15px;
    }

    #pc .section2 .s2-container .section2-content-left .s2-cleft-text p.s2-ltext2 {
      margin-bottom: 18px;
    }

    #pc .section2 .s2-container .section2-content-left .s2-cleft-text p.s2-ltext3 {
      margin-bottom: 26px;
    }

    #pc .section2 .s2-container .section2-content-left .s2-cleft-text p.s2-ltext4 {
      margin-bottom: -24px;
    }
    /* Section 2 - Content Right */

    #pc .section2 .s2-container .section2-content-right {
      position: absolute;
      top: 10px;
      right: 0;
      width: 263px;
      height: 926px;
      /* Erase this code 'height: 926px' if ever you already finish it all */
    }

    #pc .section2 .s2-container .section2-content-right img.plate-right {
      position: absolute;
      top: 65px;
      left: 5px;
    }

    #pc .section2 .s2-container .section2-content-right img.right-icon {
      position: absolute;
      top: 350px;
      left: -20px;
    }
    /* Section 2 - Content Right Text */

    #pc .section2 .s2-container .section2-content-right div.s2-cright-text {
      text-align: center;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    #pc .section2 .s2-container .section2-content-right .s2-cright-text p.s2-rtext {
      margin-bottom: 15px;
    }

    #pc .section2 .s2-container .section2-content-right .s2-cright-text p.s2-rtext2 {
      margin-bottom: 22px;
    }

    #pc .section2 .s2-container .section2-content-right .s2-cright-text p.s2-rtext3 {
      margin-bottom: 20px;
    }
    /* Section 2 - Content Bottom */

    #pc .section2 .s2-container .section2-content-bottom {
      width: 437px;
      margin: 50px auto 0;
    }

    #pc .section2 .s2-container .section2-content-bottom p.s2-btext {
      margin: 0 0 33px 9px;
    }

    #pc .section2 .s2-container .section2-content-bottom p.s2-btext2 {
      text-align: center;
    }
    /* Section 2 - Video */

    #pc .section2 .s2-container .section2-video {
      width: 670px;
      height: 426px;
      margin: 40px 0 0 145px;
      text-align: center;
    }

    #pc .section2 .s2-container .section2-video p {
      text-align: center;
      margin-bottom: 25px;
    }

    #pc .section2 .s2-container .section2-video .video-container {
      width: 670px;
      height: 377px;
      background: #a0a0a0;
    }
    /* Section 3 */

    #pc .section3 {
      text-align: center;
    }

    #pc .section3 p.s3-so-icon {
      margin: 80px 0 -20px;
    }

    #pc .section3 h2 {
      text-transform: uppercase;
      font-size: 80px;
      margin-bottom: 30px;
    }

    #pc .section3 p.s3-text {
      margin-bottom: 30px;
    }

    #pc .section3 p.s3-text2 {
      margin-bottom: 35px;
    }
    /* Section 3 - Container */

    #pc .section3 .s3-container .s3-block {
      width: 302px;
      float: left;
      text-align: center;
    }

    #pc .section3 .s3-container .s3-block {
      border-radius: 20px;
    }

    #pc .section3 .s3-container .s3-block:nth-child(2) {
      margin: 0 26px;
    }
